<div id="citiesDiv" class="bg-white rounded-md w-11/12 h-full shadow-2xl">
  <div id="inputDiv" class="flex justify-around pt-6">
    <span class="p-float-label">
  <p-autoComplete (onSelect)="onAddMarkerStartClick()" [(ngModel)]="selectedCityStart" [suggestions]="suggestions"
                  (completeMethod)="getCountries($event)" optionLabel="properties.label"></p-autoComplete>
    <label class="text-black">Ville de départ</label>
  </span>

    <span class="p-float-label">
  <p-autoComplete (onSelect)="onAddMarkerEndClick()" [(ngModel)]="selectedCityEnd" [suggestions]="suggestions"
                  (completeMethod)="getCountries($event)" optionLabel="properties.label"></p-autoComplete>
    <label class="text-black">Ville d'arrivée</label>
  </span>
  </div>
  <div class="p-2 pt-4 mr-6 flex">
    <div class="w-max flex-grow">
      <div *ngIf="breaks !== undefined" class="pl-10 self-center text-xl">
        <p *ngIf="breaks == 0">Trajet de {{ distance }} en {{ time }} sans pause.</p>
        <p *ngIf="breaks == 1">Trajet de {{ distance }} en {{ time }} avec {{ breaks }} pause.</p>
        <p *ngIf="breaks > 1">Trajet de {{ distance }} en {{ time }} avec {{ breaks }} pauses.</p>
      </div>
    </div>
    <div class="flex justify-end">
      <p-toast [life]="2000"></p-toast>
      <p-button label="Calculer l'itinéraire" [loading]="loading" (onClick)="processRoad()"></p-button>
    </div>
  </div>
</div>


