<div class="rounded-2xl">
  <p-listbox [options]="vehicleList" [listStyle]="{ 'max-height': getMaxHeight(), overflow: 'auto'}"
             [style]="{width : '30rem'}" [(ngModel)]="selectedVehicle" (click)="selectVehicle(selectedVehicle.id)">
    <ng-template let-vehicle pTemplate="item">
      <div class="flex">
        <img src="{{vehicle.media.image.thumbnail_url}}" class="w-32 bg-gray-200 rounded-xl" alt="car image"/>
        <div class="p-2">
          <p class="font-bold">{{ vehicle.naming.make }} {{ vehicle.naming.model }}</p>
          <p>{{ vehicle.naming.chargetrip_version }}</p>
          <div class="absolute top-2 right-2">
            <img src="assets/information.png" alt="arrow right" width="20px" (click)="showDetail($event, vehicle.id)"/>
          </div>
        </div>
      </div>
    </ng-template>
  </p-listbox>
</div>


<p-dialog *ngIf="detailVehicle" header="{{detailVehicle.naming.make}} {{ detailVehicle.naming.model }}" [(visible)]="visible"
          [style]="{width: '50vw'}">
  <div class="flex">
    <img src="{{detailVehicle.media.image.thumbnail_url}}" class="w-1/2 bg-gray-200 rounded-xl" alt="car image"/>
    <div *ngIf="detailVehicle.availability.status != 'release_date_announced_preorderable';else nott" class="pl-4 space-y-2">
      <p *ngIf="detailVehicle.availability.status == 'available'">Available : Yes</p>
      <p *ngIf="detailVehicle.availability.status == 'no_longer_available'">Available : No</p>
      <p>Vitesse maximale : {{detailVehicle.performance.top_speed}}mph</p>
      <p>Batterie : {{detailVehicle.range.best.combined}}km</p>
    </div>
    <ng-template #nott>
      <div class="flex justify-center items-center w-full">
        <p>Not yet released</p>
      </div>
    </ng-template>
  </div>
</p-dialog>
